
* {
    -webkit-text-size-adjust: none;
}

.container .f_size30 {
    font-size: 30px;
}

.container .f_size15 {
    font-size: 15px;
}

.container .f_size14 {
    font-size: 14px;
}

.container .f_size16 {
    font-size: 16px;
}

.container .f_size18 {
    font-size: 18px;
}

.container .f_size17 {
    font-size: 17px;
}

.container .f_size12 {
    font-size: 12px;
}

.container .up {
    color: #E94D2E;
    font-family: Ubuntu-Medium;
}

.container .down {
    color: #27B666;
    font-family: Ubuntu-Medium;
}

.container .flat {
    color: #111;
    font-family: Ubuntu-Medium;
}

.container .header {
    height: 88px;
    background-color: #fff;
}


.container .header .header_le {
    height: 88px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    width: 33%;
}

.container .header .header_ri {
    overflow: hidden;
    font-size: 12px;
    height: 88px;
}

.container .header .header_ri .ti_item_text{
    font-family: PingFangSC-Regular;
    line-height: 1;
}

.container .header .header_ri_row {
    display: flex;
    margin-top: 10px;

}

.container .header .header_ri_row .ri_item {
    flex: 1;
    -webkit-flex: 1;
    align-items: center;
    text-align: center;
    line-height: 1.4;
}

.container .nav {
    height: 35px;
    line-height: 35px;
}

.container .nav .nav_s {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.container .active {
    color: #EF7F21;
    font-size: 16px!important;
}

.container .active:after {
    content: "";
    width: 36px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #EF7F21;
    border-radius: 1px;
}

.container .chart {
    background-color: #fff;
    margin-top: 3px;
}

.container .chart .legend{
    padding: 0 10px;
    font-size: 12px;
}

.container .chart .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3691E1;
    display: inline-block;
    vertical-align: 1px;
}

.container .chart .blue {
    background-color: #3691E1;
}

.container .chart .orange {
    background-color: #EF7F21;
}

.container .chart .red {
    background-color: #E051B6;
}

.container .chart .legend_item {
    margin-left: 10px;
}

.container .chart .green {
    background-color: #19B2B0 ;
}

.container .chart #line,
.container .chart #candle{
    height: 255px;
}

.container .chart .date {
    font-family: Ubuntu-Medium;
    font-size: 10px;
    color: rgba(17,17,17,0.40);
}

.container .chart .column {
    height: 70px;
}

.container .composition {
    background-color: #fff;
    margin-top: 3px;
display: none;
}

.container .composition .composition_item {
    display: flex;
    margin-left: 15px;
    align-items: center;
    border-bottom: 1px #e7e7e7 solid;
    height: 50px;
}

.container .composition .composition_item .name_code{
    flex: 2;
}

.container .composition .composition_item .price_ratio{
    flex: 1;
}

.container .composition .name {
    color: #111;
    font-family: PingFangSC-Regular;;
}

.container .composition .code {
    color: rgba(17,17,17,0.60);
    font-family: Ubuntu-Medium;
    font-size: 11px;
}

.container .news {
    background-color: #fff;
    padding: 0 15px;
    margin-top: 3px;
}

.container .news .news_item {
    padding: 17px 15px;
    border-bottom: 1px #e7e7e7 solid;
}

.container .news .news_item .source_time {
    font-family: PingFangSC-Regular;
    margin-top: 12px;
    font-size: 12px;
    color: rgba(17,17,17,0.40);
}

.container .news .news_item .source_time .time {
    margin-left: 5px;
}

.container .chart #column {
    height: 70px;
}

.container .wrap_chart {
    position: relative;
    margin: 0 6px;
}

.container .wrap_chart_cut {
    position: absolute;
    width: 100%;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
}

.container .wrap_chart_cut.cut_top {
    height: 170px;
}

.container .wrap_chart_cut.cut_bottom {
    height: 70px;
    bottom: 0;
}

.container .chart .cut_off_column {
    width: 1px;
    height: 100%;
    background-color: #E7E7E7;
    position: absolute;
    left: 50%;
}

.container .chart .cut_off_row {
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    position: absolute;
    top: 50%;
}

.container .chart .quotation_top {
    width: 98%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.container .chart .quotation_bottom {
    width: 98%;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.container .chart .quotation_top .vol{
    margin-left: 133px;
}

.container .chart .middle_legend {
    height: 15px;
    font-size: 10px;
    color: rgba(17,17,17,0.80);
    line-height: 15px;
    font-family: PingFangSC-Regular;
    position: absolute;
    top: 170px;
}

.container .chart .middle_legend .middle_item:last-child {
    margin-left: 70px;
}

.container .show_price {
    display: flex;
    font-size: 12px;
    display: none;
}

.container .show_price div {
    flex: 1;
}

.container .nav.show_price em{
    margin-left: 15px;
}

